absl-py==1.4.0
acme==2.7.2
aiohttp==3.8.6
aiosignal==1.3.1
alabaster==0.7.13
annotated-types==0.6.0
anyio==3.7.1
apparmor==3.1.6
appdirs==1.4.4
argcomplete==2.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==22.2.0
autocommand==2.2.2
Babel==2.12.1
backcall==0.2.0
bauh==0.10.5
beautifulsoup4==4.12.2
bleach==6.1.0
btrfsutil==6.5.3
build==1.0.3
CacheControl==0.13.1
cachetools==5.3.1
certbot==2.7.2
certbot-dns-sakuracloud==2.7.2
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.1.4
conda==23.1.0
conda-package-handling==1.8.1
ConfigArgParse==1.5.3
configobj==5.0.8
contourpy==1.1.1
coverage==6.5.0
cryptography==41.0.5
cssselect==1.2.0
cycler==0.12.0
Cython==3.0.5
dbus-python==1.3.2
decorator==5.1.1
defusedxml==0.7.1
devtools==0.12.2
distlib==0.3.7
distro==1.8.0
dlib==19.24.2
dns-lexicon==3.16.1
docutils==0.20.1
entrypoints==0.4
evdev==1.6.1
executing==2.0.0
face-recognition==1.3.0
face-recognition-models==0.3.0
fastjsonschema==2.18.1
feedparser==6.0.10
fenix-library-configuration==0.0.5
fenix-library-running==0.0.12
filelock==3.12.4
flatbuffers==23.5.26
fonttools==4.43.1
frozenlist==1.4.0
future==0.18.3
FVS==0.3.4
gast==0.3.3
google-auth==2.19.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gpg==1.23.1
greenlet==2.0.2
grpcio==1.58.1
gufw==22.4.0
h5py==3.10.0
html2text==2020.1.16
html5lib==1.1
icoextract==0.1.4
idna==3.4
imagesize==1.4.1
importlib-metadata==5.0.0
inflect==7.0.0
iniconfig==2.0.0
injector==0.21.0
inputs==0.5
installer==0.7.0
ipykernel==6.26.0
ipython==8.17.2
jaraco.context==4.3.0
jaraco.functools==3.9.0
jaraco.text==3.11.1
jedi==0.19.1
Jinja2==3.1.2
josepy==1.13.0
json5==0.9.14
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter_client==8.5.0
jupyter_core==5.5.0
jupyter-events==0.8.0
jupyter_server==2.9.1
jupyterlab==4.0.7
jupyterlab-pygments==0.2.2
jupyterlab_server==2.25.0
keras==2.12.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
lensfun==0.3.4
LibAppArmor==3.1.6
libarchive-c==4.0
lit==16.0.6.dev0
lockfile==0.12.2
lxml==4.9.2
Mako==1.2.4
mallard-ducktype==1.0.2
Markdown==3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mediapipe==0.10.3
meson==1.2.3
mistune==2.0.5
moddb==0.10.0
more-itertools==10.1.0
msgpack==1.0.5
multidict==6.0.4
mutagen==1.47.0
namcap==3.4.2
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
nest-asyncio==1.5.7
netsnmp-python==1.0a1
notebook==7.0.6
notebook_shim==0.2.3
numpy==1.26.1
nyx==2.1.0
oauthlib==3.2.2
opt-einsum==3.3.0
ordered-set==4.1.0
orjson==3.9.10
overrides==7.4.0
packaging==23.1
pandas==1.5.3
pandocfilters==1.5.0
parsedatetime==2.6
parso==0.8.3
pathvalidate==3.2.0
patool==1.15.0
peewee==3.16.3
pefile==2023.2.7
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.1.0
pip==23.3.1
pipenv==2023.10.24
platformdirs==3.11.0
pluggy==1.3.0
ply==3.11
pooch==1.8.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==4.24.4
ProtonUp-Qt==2.8.2
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.5
py3nvml==0.2.7
pyalpm==0.10.6
pyaml==23.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.11.1
pycairo==1.25.1
pycosat==0.6.6
pycparser==2.21
pycryptodomex==3.12.0
pycurl==7.45.2
pydantic==2.4.2
pydantic_core==2.10.1
pydot==1.4.2
pyelftools==0.30
Pygments==2.16.1
PyGObject==3.46.0
PyNaCl==1.4.0
pyodbc==5.0.1
pyOpenSSL==23.3.0
pyotp==2.6.0
pyparsing==3.1.1
pypresence==4.3.0
pyproject_hooks==1.0.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
pyrate-limiter==3.1.0
pyRFC3339==1.1
pyrsistent==0.19.3
pyrunning==0.0.13
pyserial==3.5
pysetting==0.0.6
PySide6==6.6.0
PySocks==1.7.1
pyte==0.8.1
pytest==7.4.3
python-dateutil==2.8.2
python-json-logger==2.0.7
python-steamgriddb==1.0.5
python-xlib==0.33
pytz==2023.3.post1
pyxdg==0.28
PyYAML==6.0.1
pyzmq==25.1.1
quodlibet==4.6.0
radian==0.6.6
rchitect==0.3.40
reactivex==4.0.4
referencing==0.30.2
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
rich==13.6.0
rpds-py==0.10.6
rpm==4.18.1
rsa==4.9
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.7
scipy==1.11.3
scour==0.38.2
Send2Trash==1.8.2
setproctitle==1.3.3
setuptools==68.0.0
sgmllib3k==1.0.0
shiboken6==6.6.0
shiboken6-generator==6.6.0
simplejson==3.19.2
six==1.16.0
smbus==1.1
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
SQLAlchemy==1.4.44
SSSDConfig==2.9.2
stack-data==0.6.3
steam==1.4.4
stem==1.8.2
TBB==0.2
tensorboard==2.13.0
tensorboard-data-server==0.8.0a0
tensorboard-plugin-wit==1.8.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
termcolor==2.3.0
testpath==0.6.0
tinycss2==1.2.1
tldextract==5.0.1
tomli==2.0.1
toolz==0.12.0
torbrowser-launcher==0.3.6
tornado==6.2
tqdm==4.66.1
traitlets==5.13.0
trove-classifiers==2023.10.27
typing_extensions==4.8.0
uc-micro-py==1.0.2
ufw==0.36.2
urllib3==1.26.15
validate==5.0.8
validate-pyproject==0.13.post1.dev0+gb752273.d20230520
vdf==3.4
virtualenv==20.24.6
virtualenv-clone==0.5.7
vkbasalt-cli==3.1.1
wcwidth==0.2.8
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==2.3.7
wheel==0.40.0
wrapt==1.14.1
yarl==1.9.2
zipp==3.17.0
zstandard==0.21.0
